body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-image: url("../images/regal.png");
}

.main {
    background-color: white;
}


.navbar {
    font-family: Georgia, Times, Times New Roman, serif;
    background-color:#ffffff;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-size: 35px;
    width: 300px;
    text-align: center;
}

.olgaName:link, .olgaName:visited, olgaName:hover, olgaName:active {
    color: white;
}

a {
    font-size: 16px;
    color: #777777;
}

h1 {
    font-family: Georgia, Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
}

hr {
    border-width: 1.5px;
    color: #cccccc;
    border-style: solid;
}

.border-top {
    border-color: #4aaaa5 !important;
    border-width: 10px !important;
}

.footer {
    background-color: #666666;
    height: 75px;
    margin-top: 150px;
}

.olgaMain {
    width: 200px;
}

h3 {
    font-family: Georgia, Times, Times New Roman, serif;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 250px;
    height: 35px;
    background-color: #4aaaa5;
    position: absolute;
    margin-top: 150px;
    padding-top: 10px;
}

form {
    font-size: 16px;
    color: #777777;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    color: white;
}


@media screen and (max-width: 768px) {
    .navbar-brand {
        width: 100%;
    }
}